{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Lainaa eri määriä</h1>
          Tutustu näihin kolmeen eri laina-sivuun:
          <ul>
            <li><a href="https://lainaneuvos.fi/lainaa-100/" class="link">lainaa 100</a></li>
            <li><a href="https://www.vertaalainaa.fi/lainaa-200/" class="link">lainaa 200</a></li>
            <li><a href="https://kertaluotto.fi/lainaa-300/" class="link">lainaa 300</a></li>
          </ul> 
          Ja muista ottaa laina!
      </div>
{{ end }}
