{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Lainaa eri määriä</h1>
          Tutustu näihin kolmeen eri laina-sivuun:
          <ul>
            <li><a href="https://www.nopeelaina.fi/lainaa-400/" class="link">lainaa 400</a></li>
            <li><a href="https://raha.fi/lainat/lainaa-500/" class="link">lainaa 500</a></li>
            <li><a href="https://www.lainaanopeasti.fi/lainasummat/lainaa-600-euroa/" class="link">lainaa 600</a></li>
          </ul> 
          Ja muista ottaa laina!
      </div>
{{ end }}
